section.about.section-text_align-center
   .container
      h1.section-title About
         span.section-title_color  us
      .about-wrap
         .about-item.animated
            img.about-item__img(src="img/about.png")
         .about-item.about-item__right.animated
            p.about-item__desc 
               | Aliquam metus neque, bibendum sit amet porta at, consequat et
               br
               | enim. In ut turpis non ipsum rhoncus porttitor vel ac nunc. 
               br
               | Maecenas interdum dignissim lorem quis auctor. Donec sit amet 
               br
               | nulla nisl, aliquam pretium ipsum. Pellentesque sodales ipsum et 
               br
               | enim rutrum adipiscing. Quisque tincidunt mattis sapien, 
               br
               | vel posuere.
            a(href="#")
               button.btn Learn more
            
         