section.advantages.section_theme-grey
   .container
      .advantages-wrap 
         .advantages-item
            .advantages-item__hexagon

            h3.advantages-item__title.advantages-item__heart Build with love
            p.advantages-item__desc 
               | Fusce facilisis velit libero, nec 
               br
               | dignissim lacus sagittis non. 
               br
               | Sed nec porta ante. Pellentesque 
               br
               | habitant morbi tristique senectus et
         .advantages-item
            h3.advantages-item__title.advantages-item__diamond Clean and modern
            p.advantages-item__desc 
               | Fusce facilisis velit libero, nec 
               br
               | dignissim lacus sagittis non. 
               br
               | Sed nec porta ante. Pellentesque 
               br
               | habitant morbi tristique senectus et
         .advantages-item
            h3.advantages-item__title.advantages-item__coffee Easy to use
            p.advantages-item__desc 
               | Fusce facilisis velit libero, nec 
               br
               | dignissim lacus sagittis non. 
               br
               | Sed nec porta ante. Pellentesque 
               br
               | habitant morbi tristique senectus et
         .advantages-item
            h3.advantages-item__title.advantages-item__phone Fully Responsive
            p.advantages-item__desc 
               | Fusce facilisis velit libero, nec 
               br
               | dignissim lacus sagittis non. 
               br
               | Sed nec porta ante. Pellentesque 
               br
               | habitant morbi tristique senectus et      
      