section.banner-second.section-text_align-center
   .container
      img.banner__img(src="img/service.png")
      h2.banner__title
         | Our services will lorem and ipsum 
         br
         | your aliquam
         