section.contact.section-text_align-center
   .container
      .section-title Get
         span.section-title_color  in touch
      .contact-wrap
         .contact-item.contact-item_left-paddings
            form(action="#").contact-form
               input.contact-form__input(type="text" placeholder="Your Name")
               input.contact-form__input(type="text" placeholder="Your Email")
               textarea.contact-form__field(placeholder="Your Message")
               a(href="#")
                  button.btn.contact-form__btn Send email
         .contact-item.contact-item_right-paddings.contact-item_display-flex
            p.contact-item__desc
               | Lorem ipsum dolor sit amet, consectetuer adipiscing
               br
               | elit. Donec odio. Quisque volutpat mattis eros.
               br 
               | Nullam malesuada erat ut turpis. Suspendisse urna
               br 
               | nibh, viverra non, semper suscipit, posuere a, pede.
            address.contact-item__address  
               | 1600 Pennsylvania Ave NW, Washington, 
               br
               | DC 20500, United States of America. 
            .contact-item-number
               span.contact-item__number T:   
                  a.contact-item__number_link(href="tel:(202) 456-1111")  (202) 456-1111
               br   
               span.contact-item__number M:      
                  a.contact-item__number_link(href="tel:(202) 456-1212")  (202) 456-1212 
            .contact-item-wrap
               a(href="https://www.facebook.com/").icon.contact-icon f  
               a(href="https://google.com/").icon.contact-icon g 
               a(href="https://twitter.com").icon.contact-icon t  