section.feedback.section_theme-grey.section-text_align-center
   .container
      ul.feedback-wrap
         li.feedback-item
            h1.feedback-item__counter 365
            span.feedback-item__desc Lorem ipsum
         li.feedback-item
            h1.feedback-item__counter 98%
            span.feedback-item__desc Lorem ipsum
         li.feedback-item
            h1.feedback-item__counter 69
            span.feedback-item__desc Lorem ipsum
         li.feedback-item
            h1.feedback-item__counter 1642
            span.feedback-item__desc Lorem ipsum   
      .feedback-slider
         .feedback-slide
            img.feedback-slide__img(src="img/team-item.png")
            blockquote.feedback-slide__quote
               | “Fusce dapibus, tellus ac cursus commodo, tortor mauris 
               br
               | condimentum. Duis mollis, est non commodo luctus, nisi erat”
            h3.feedback-slide__title Lesale Christoper, Pinterest
         .feedback-slide
            img.feedback-slide__img(src="img/team-item.png")
            blockquote.feedback-slide__quote
               | “Fusce dapibus, tellus ac cursus commodo, tortor mauris 
               br
               | condimentum. Duis mollis, est non commodo luctus, nisi erat”
            h3.feedback-slide__title Lesale Christoper, Pinterest   
         .feedback-slide
            img.feedback-slide__img(src="img/team-item.png")
            blockquote.feedback-slide__quote
               | “Fusce dapibus, tellus ac cursus commodo, tortor mauris 
               br
               | condimentum. Duis mollis, est non commodo luctus, nisi erat”
            h3.feedback-slide__title Lesale Christoper, Pinterest   
         .feedback-slide
            img.feedback-slide__img(src="img/team-item.png")
            blockquote.feedback-slide__quote
               | “Fusce dapibus, tellus ac cursus commodo, tortor mauris 
               br
               | condimentum. Duis mollis, est non commodo luctus, nisi erat”
            h3.feedback-slide__title Lesale Christoper, Pinterest   
         .feedback-slide
            img.feedback-slide__img(src="img/team-item.png")
            blockquote.feedback-slide__quote
               | “Fusce dapibus, tellus ac cursus commodo, tortor mauris 
               br
               | condimentum. Duis mollis, est non commodo luctus, nisi erat”
            h3.feedback-slide__title Lesale Christoper, Pinterest   
         .feedback-slide
            img.feedback-slide__img(src="img/team-item.png")
            blockquote.feedback-slide__quote
               | “Fusce dapibus, tellus ac cursus commodo, tortor mauris 
               br
               | condimentum. Duis mollis, est non commodo luctus, nisi erat”
            h3.feedback-slide__title Lesale Christoper, Pinterest      
      