header.header
   .container
      .header-wrap
         a.header__logo(href="#") Bhaga
            span.header__logo_theme-color skara
            | .
         nav.header-nav
            ul.header-list
               li.header-list__item
                  a.header-list__link.header-list__link_first(href="#" onclick="slowScroll('.home')") home
               li.header-list__item
                  a.header-list__link(href="#" onclick="slowScroll('.about')") about
               li.header-list__item
                  a.header-list__link(href="#" onclick="slowScroll('.team')") team
               li.header-list__item
                  a.header-list__link(href="#" onclick="slowScroll('.skills')") services
               li.header-list__item
                  a.header-list__link(href="#" onclick="slowScroll('.portfolio')") portfolio
               li.header-list__item
                  a.header-list__link(href="#" onclick="slowScroll('.feedback')") blog
               li.header-list__item
                  a.header-list__link(href="#" onclick="slowScroll('.contact')") contact   
         a.touch-nav(href='#')
            span.touch-nav__item
            span.touch-nav__item
            span.touch-nav__item