mixin inner
  - var n = 1
  while n <= 3
    div(class='hex-mask hex-mask' + n) 
      div(class='hex-part hex-part' + n++)
section.home.section-text_align-center
   .container
      h1.title.home__title Bhagas
         span.home__title_color kara.
      h3.home__under-title Fusce rutrum pretium lorem semper nulla.
      h5.home__description 
         |Vestibulum ornare cursus nisl, fermentum tincidunt libero pretium et. Maecenas interdum ligula non
         br
         | fermentum fringilla.
      .home-hexogen__wrapper
         .home-hexogen__item.home-hexogen__item_about.animated.bounceInLeft
            a(href="#" onclick="slowScroll('.about')").home-hexogen__link.home-hexogen__link_about About
         .home-hexogen__item.home-hexogen__item_team.animated.bounceInLeft
            a(href="#" onclick="slowScroll('.team')").home-hexogen__link.home-hexogen__link_team Team  
         .home-hexogen__item.home-hexogen__item_services.animated.bounceInDown
            a(href="#" onclick="slowScroll('.skills')").home-hexogen__link.home-hexogen__link_services Services
         .home-hexogen__item.home-hexogen__item_portfolio.animated.bounceInDown
            a(href="#" onclick="slowScroll('.portfolio')").home-hexogen__link.home-hexogen__link_portfolio.home-hexogen__link_active Portfolio
         .home-hexogen__item.home-hexogen__item_blog.animated.bounceInRight
            a(href="#" onclick="slowScroll('.feedback')").home-hexogen__link.home-hexogen__link_blog Blog 
         .home-hexogen__item.home-hexogen__item_contact.animated.bounceInRight
            a(href="#" onclick="slowScroll('.contact')").home-hexogen__link.home-hexogen__link_contact Contact  
      .home-arrow.animated.bounceInUp      
         a.home-arrow__link(href='#' onclick="slowScroll('.header')")
            
            