section.portfolio.section-text_align-center
   .container.portfolio-container
      h1.section-title Our
         span.section-title_color  Portfolio
      nav.portfolio-nav
         ul.portfolio-nav-list
            li.portfolio-nav-list__item
               a.portfolio-nav-list__link All
            li.portfolio-nav-list__item
               a.portfolio-nav-list__link Web
            li.portfolio-nav-list__item
               a.portfolio-nav-list__link Apps
            li.portfolio-nav-list__item
               a.portfolio-nav-list__link Icons   
      .portfolio-gallery-wrap 
         .portfolio-gallery-item
            a.portfolio-gallery__link(href="img/gallery-1.jpg" rel="gallery")   
               img.portfolio-gallery-item__img(src="img/gallery-1.jpg")
            h4.portfolio-gallery-item__title Neque Porro Quisquam
            span.portfolio-gallery-item__desc apps, icons, ui
         .portfolio-gallery-item         
            a.portfolio-gallery__link(href="img/gallery-2.jpg" rel="gallery") 
               img.portfolio-gallery-item__img(src="img/gallery-2.jpg")
            h4.portfolio-gallery-item__title Neque Porro Quisquam
            span.portfolio-gallery-item__desc apps, icons, ui   
         .portfolio-gallery-item
            a.portfolio-gallery__link(href="img/gallery-3.jpg" rel="gallery") 
               img.portfolio-gallery-item__img(src="img/gallery-3.jpg")
            h4.portfolio-gallery-item__title Neque Porro Quisquam
            span.portfolio-gallery-item__desc apps, icons, ui   
         .portfolio-gallery-item
            a.portfolio-gallery__link(href="img/gallery-4.jpg" rel="gallery") 
               img.portfolio-gallery-item__img(src="img/gallery-4.jpg")
            h4.portfolio-gallery-item__title Neque Porro Quisquam
            span.portfolio-gallery-item__desc apps, icons, ui     
         .portfolio-gallery-item
            a.portfolio-gallery__link(href="img/gallery-5.jpg" rel="gallery") 
               img.portfolio-gallery-item__img(src="img/gallery-5.jpg")
            h4.portfolio-gallery-item__title Neque Porro Quisquam
            span.portfolio-gallery-item__desc apps, icons, ui     
         .portfolio-gallery-item
            a.portfolio-gallery__link(href="img/gallery-6.jpg" rel="gallery") 
               img.portfolio-gallery-item__img(src="img/gallery-6.jpg")
            h4.portfolio-gallery-item__title Neque Porro Quisquam
            span.portfolio-gallery-item__desc apps, icons, ui  
      a(href="#")
         button.btn.portfolio__btn Watch more      
            