section.skills.section-text_align-center
   .container
      h2.section-title Our
         span.section-title_color  skills
      ul.skills-wrap
         li.skills-item
            .skills-item-header 
               h3.skills-item__title WEB DESIGN
               span.skills-item__percent 90%
            .skills-item__strip
               .skills-item__strip-inner.skills-item__strip-inner_90(style='width:90%')
         li.skills-item
            .skills-item-header
               h3.skills-item__title GRAPHIC DESIGN 
               span.skills-item__percent 70%
            .skills-item__strip
               .skills-item__strip-inner.skills-item__strip-inner_70(style='width:70%')
         li.skills-item
            .skills-item-header
               h3.skills-item__title HTML /CSS
               span.skills-item__percent 75%
            .skills-item__strip
               .skills-item__strip-inner.skills-item__strip-inner_75(style='width:75%')      
         li.skills-item
            .skills-item-header   
               h3.skills-item__title UI /UX
               span.skills-item__percent 85%
            .skills-item__strip
               .skills-item__strip-inner.skills-item__strip-inner_85(style='width:85%')            
            
            