section.team.section-text_align-center
   .container
      h2.section-title Our
         span.section-title_color  team
      .team-slider   
         .team-slide
            img.team-slide__img(src="img/team-item.png")
            h3.team-slide__title ANNE HATHAWAY
            h6.team-slide__desc CEO / Marketing Guru
            a.icon f
            a.icon g
         .team-slide
            img.team-slide__img(src="img/team-item.png")
            h3.team-slide__title ANNE HATHAWAY
            h6.team-slide__desc CEO / Marketing Guru
            a.icon f
            a.icon g
         .team-slide
            img.team-slide__img(src="img/team-item.png")
            h3.team-slide__title ANNE HATHAWAY
            h6.team-slide__desc CEO / Marketing Guru
            a.icon f
            a.icon g
         .team-slide
            img.team-slide__img(src="img/team-item.png")
            h3.team-slide__title ANNE HATHAWAY
            h6.team-slide__desc CEO / Marketing Guru
            a.icon f
            a.icon g
         .team-slide
            img.team-slide__img(src="img/team-item.png")
            h3.team-slide__title ANNE HATHAWAY
            h6.team-slide__desc CEO / Marketing Guru
            a.icon f
            a.icon g
         .team-slide
            img.team-slide__img(src="img/team-item.png")
            h3.team-slide__title ANNE HATHAWAY
            h6.team-slide__desc CEO / Marketing Guru
            a.icon f
            a.icon g   
         
            
            