doctype html
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title bhagaskara
      link(rel="stylesheet", href="css/animate.css")
      link(rel="stylesheet", type="text/css", href="plugins/slick/slick.css")
      link(rel="stylesheet", type="text/css", href="plugins/slick/slick-theme.css")
      link(rel="stylesheet", href="css/main.css")
      link(rel="stylesheet" type="text/css" href="plugins/fancybox/source/jquery.fancybox.css")
      
      
      
   body
      include _home
      include _header
      include _advantages
      include _about
      include _banner
      include _team
      include _skills
      include _banner2
      include _feedback
      include _portfolio
      include _contact
      include _footer
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="plugins/fancybox/source/jquery.fancybox.pack.js")
      script(src="plugins/jquery.inview.min.js")
      script(src="plugins/slick/slick.min.js")
      script(src="js/common.js")
      script(src="js/slick.js")
   
      
      